<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/app.css" />
  </head>
  <body class="container" ng-controller="StoreController as store">
    <div class="list-group" ng-repeat="product in store.products">
      <div class="list-group-item" ng-hide="product.soldOut">
        <h1 id="name">{{ product.name }}</h1>
        <h2 id="price">{{product.price  | currency}}</h2>

        <div class='gallery'
             ng-show="product.images.length"
             ng-controller="GalleryController as gallery">
          <!--<img ng-src="{{ product.images[gallery.current] }}" />-->
          <ul class="list-inline thumbs">
            <li class="thumbnail" ng-repeat="image in product.images">
              <img ng-src="{{image}}" />
            </li>
          </ul>
        </div>

        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{ active:panel.isSelected(1) }">
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active:panel.isSelected(2) }">
              <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{ active:panel.isSelected(3) }">
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>
          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{ product.description }}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote>Shine: {{ product.shine }}</blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>              
            <blockquote ng-repeat="review in product.reviews">
              <b>{{ review.stars }}
                <ng-pluralize count="review.stars"
                  when="{'one': 'Star', 'other': 'Stars'}">
                </ng-pluralize>
              </b>
              {{ review.body }}
              <br />
              <cite>-{{ review.author }} on {{ review.createdOn | date }}</cite>
            </blockquote>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
                                    novalidate>
              <blockquote>
                <b>{{ reviewCtrl.review.stars }}
                  <ng-pluralize count="reviewCtrl.review.stars"
                    when="{'one': 'Star', 'other': 'Stars'}">
                  </ng-pluralize>
                </b>
                {{ reviewCtrl.review.body }}
                <br />
                <cite class="clearfix">-{{ reviewCtrl.review.author }}</cite>
              </blockquote>

              <fieldset class="form-group">
              <select class="form-control" ng-model="reviewCtrl.review.stars"
                ng-options="stars for stars in [5,4,3,2,1]"
                title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control"
                  placeholder="Write a short review of the product..."
                  title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control"
                placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
          </div>
        </section>
        <button ng-show="product.canPurchase">Add to Cart</button>
      </div>
    </div>

    <script type="text/javascript" src="assets/app.js"></script>
  </body>
</html>
