<h2>Upload/Scan Clearance Items</h2>

<div class="container">
  <%= render partial: "csv_file_upload" %>
</div>

<div class="container voffset4">
  <h4>OR</h4>
</div>

<div class="container voffset4">
  <%= render partial: "scan_item_ids" %>
</div>
